<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Services</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha384-+0n0xVW2eSR5a8rw6L8J4oNbMwWGaMlTw/iUzL8rDsO0txnkE0Fk2ew0bqoUJwR" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-vz26vhto0RNrW0SLq9eVjd/xw6WpT3SUzdbrt0lfGf7/tb8FtJPrN8dMTJ0eH6Ie8m6EabBJ8YOki2GCPoV4wQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom styles -->
    <style>
        body {
            background-color: #333;
            color: #fff;
            padding-top: 50px;
        }

        .card {
            background-color: #444;
            color: #fff;
            border: none;
        }

        .card-header {
            background-color: #222;
            border-bottom: 1px solid #555;
        }

        .card-footer {
            background-color: #222;
            border-top: 1px solid #555;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Emergency Care</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">24/7 emergency medical services with experienced staff.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Specialized Departments</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">State-of-the-art departments for various medical specializations.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Outpatient Services</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Outpatient care for routine check-ups and minor procedures.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-XegwFOEFJW69D8Jy9gEEn/OLvjsZpe6spN8H66F+0tMQOz4rDO/70hRT5F7xHuxu"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"
        integrity="sha384-BSXIy4SOuHzdjNg7mZGy6oG0QsX2Zsj+ODLm/mWEJQj2A4wS3MW0Ahsx9er3SA1r"
        crossorigin="anonymous"></script>
</body>

</html>
