<%- include('../includes/head', { pageTitle: 'Error Occured' }) %>

</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Something went wrong!</h1>
        
    </main>
    <%- include('../includes/footer') %>
</body>
</html>
