<%- include('../../shared/includes/head', { pageTitle: 'SignUp' }) %>

<link rel="stylesheet" href="/styles/forms.css">

</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Login</h1>
        <div class="card">
            <form action="/signup" method="POST">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <p>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required class="mui-input">
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required minlength="8" class="mui-input">
                </p>
                <div class="btn-container">
                    <button class="btn">
                        Login
                    </button>
                </div>
                <br>
                <ul class="forgot-password">
                    <li><a href="/password-reset">Forgot Password?</a></li>
                </ul>
                </div>
            </form>
        </div>
        <p id="switch-form">
            <a href="/signup">Don't have an account? Sign up</a>
        </p>
    </main>
    <%- include('../../shared/includes/footer') %>
</body>
</html>