<%-  include('../includes/head',{pageTitle:'SignUp' })%>
</head>
<body>
    <%-  include('../includes/header')%>
    <main>
        <h1> Create a new Account </h1>
        <form action="" method="">
             <p>
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
             </p>
             <p>
                <label for="email"> Confirm   E-mail</label>
                <input type="email" id="confirm-email" name="confirm-email " required>
             </p> 
             <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required minlength="8">
             </p>
             <hr>
             <p>
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" required>
             </p>
             <p>
                <label for="street">Street</label>
                <input type="text" id="street" name="street" required>
             </p>
             <p>
                <label for="postal">Full Name</label>
                <input type="text" id="postal" name="postal" required minlength="5" maxlength="6">
             </p>
             <p>
                
             </p>

                <p>
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" required>
             </p>
             <button class="btn">
                Create Account
             </button>
             <p id="switch-form">
                <a href="/login">Already have an account? Login</a></p>
        </form> 
    </main>
<%-  include('../includes/footer') %>
